{{> adminHeader}}

<div class="container">
    <nav class="navbar navbar-expand-lg bg-info bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand fw-bold" href="/admin"><img src="/images/logo-dark.png" alt="LFKart"></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item fw-bold">
                        <a class="nav-link active" aria-current="page" href="/admin/userManagement">Người dùng</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a class="nav-link" aria-current="page" href="/admin/categoryManagement">Loại hàng</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a class="nav-link" aria-current="page" href="/admin/productManagement">Sản phẩm</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a class="nav-link" aria-current="page" href="/admin/orderManagement">Đơn hàng</a>
                    </li>
                </ul>
                <form action="/logout" method="post" class="d-flex">
                    <button class="btn btn-danger" type="submit">Đăng xuất</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="pt-3">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each allUsersData}}
                <tr>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phonenumber}}</td>
                    {{#if this.isBlocked}}
                    <td>
                        <button id="unblockBtn{{@index}}" class="btn btn-danger">Bỏ chặn</button>
                    </td>
                    <script>
                        let unblockBtn{{@index}} = document.getElementById('unblockBtn{{@index}}')
                        unblockBtn{{@index}}.addEventListener('click', async () => {
                            Swal.fire({
                                title: "Bạn có chắn chắn muốn bỏ chặn người này không?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Chắc chắn!"
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    fetch('/admin/userManagement/unBlock/{{this._id}}', { method: 'PATCH' }).then()

                                    Swal.fire({
                                        title: "Bỏ chặn thành công!",
                                        text: "{{this.username}} đã được bỏ chặn.",
                                        icon: "success"
                                    }).then(() => location.reload())
                                }
                            });
                        })
                    </script>
                    {{else}}
                    <td>
                        <button id="blockBtn{{@index}}" class="btn btn-success">Chặn</button>
                    </td>
                    <script>
                        let blockBtn{{@index}} = document.getElementById('blockBtn{{@index}}')

                        blockBtn{{@index}}.addEventListener('click', async () => {

                            Swal.fire({
                                title: "Bạn có chắn chắn muốn chặn người này không?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Chắc chắn!"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    fetch('/admin/userManagement/block/{{this._id}}', { method: 'PATCH' }).then()
                                    Swal.fire({
                                        title: "Chặn thành công!",
                                        text: "{{this.username}} đã bị chặn.",
                                        icon: "success"
                                    }).then(() => location.reload())
                                }
                            });
                        })
                    </script>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<allScripts>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "lengthMenu": "Hiễn thị _MENU_ hàng mỗi trang",
                    "zeroRecords": "Không có dữ liệu",
                    "info": "Hiển thị _PAGE_ trên _PAGES_ trang",
                    "infoEmpty": "Không có dữ liệu",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sFirst": "Đầu tiên",
                        "sLast": "Cuối cùng",
                        "sNext": "Kế tiếp",
                        "sPrevious": "Trước"
                    },
                    "sSearch": "Tìm kiếm:",
                }
            });
        });
    </script>
</allScripts>